* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin: 20px 20px;
}

img {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border: 3px solid black;
    width: 380px;
    height: 280px;
}

p {
    text-align: center;
    margin: 20px;
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-style: italic;
    color: #121212;
}

button {
    display: block;
    margin: 10px auto;
    border: 3px solid black;
    width: 200px;
    height: 40px;
}

#white {
    background-color: white;
    color: #121212;
}

#black {
    background-color: #121212;
    color: white;
}

a {
    color: #121212;
}