html, body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    color: #333333;
}

body, .contact-input, .contact-textarea {
    font-family: 'Poppins', sans-serif;
}

.contact-page {
    min-height: 100vh;
    max-width: 900px;
    overflow: hidden;
    margin: 0 auto;
}

.contact-form-section {
    display: flex;
    width: 50rem; 
    padding: 1.875rem; 
    margin: 0 auto;
}

.contact-image {
    transform: rotate(90deg);
    width: 56.25rem; 
    margin-left: -3.75rem; 
}

.contact-form-heading {
    font-size: 3rem; 
    font-weight: 700;
    margin: 0;
}

.contact-form-heading span {
    color: #007000;
}

.contact-form-intro {
    font-size: 1.25rem; 
    margin-bottom: 1.25rem; 
}

label {
    display: block;
    font-weight: 500;
    margin: 0.625rem auto 0.3125rem; 
    width: 18.75rem;
}  

.contact-input {
    display: block;
    width: 18.75rem; 
    margin: 0 auto 0.9375rem; 
    border-radius: 1.25rem; 
    padding: 0.5rem 1.25rem; 
    font-size: 1rem; 
    border: 0.125rem solid #333333; 
}

.contact-textarea {
    max-width: 18.75rem; 
    margin: 0 auto 0.9375rem; 
    padding: 1rem 1.25rem; 
    border: 0.125rem solid #333333; 
    border-radius: 1.25rem; 
    font-size: 1rem;
}

.contact-input::placeholder,
.contact-textarea::placeholder {
    color: #666666;
}

.contact-submit-button {
    border: 0.125rem solid #333333; 
    padding: 0.5rem 1.25rem; 
    border-radius: 2.5rem; 
    margin: 0.625rem auto 0; 
    width: 12.5rem; 
    cursor: pointer;
    font-size: 1rem;
    display: block;
}

.contact-submit-button:hover {
    background-color: #dddddd;
}

/* Screen-reader-only text */
.visually-hidden {
    position: absolute;
    left: -9999px;
}